main {
  display: grid;
  align-content: space-around;
}

.content-grid {
  grid-area: content;
}

.card-img-fit {
  width: 100%;
}

.carousel-control-prev-icon {
  background-color: black;
}

.carousel-control-next-icon {
  background-color: black;
}



